openai
PyQt6
SpeechRecognition
FasterWhisper
vosk
openwakeword
porcupine
pyttsx3
piper-tts
PyAutoGUI
keyboard
mouse
psutil
watchdog
playwright
selenium
pycaw
pygetwindow
sqlite3
chromadb
faiss-cpu
psutil
pytesseract
Pillow
fastapi
uvicorn
python-multipart
python-dotenv
